<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzdcDHnwBVElS3l8-MaYMNfU3_Om_Dstk</string>
	<key>GCM_SENDER_ID</key>
	<string>756293487961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flavorsTodoApp</string>
	<key>PROJECT_ID</key>
	<string>flavors-663cf</string>
	<key>STORAGE_BUCKET</key>
	<string>flavors-663cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756293487961:ios:06ee91c432915810681048</string>
</dict>
</plist>